@model EpiserverOEC.Models.Pages.SignupPage

@using (Html.BeginForm("Submit", "SignupPage", FormMethod.Post))
{
    <div class="body-content">
        @Html.PropertyFor(p => p.MainContentArea)

        <div class="container" style="padding:0 0 30px 225px">
            <button class="btn" type="submit" style="border-radius:0; background-color:firebrick; color:white">Anmäl</button>
        </div>
    </div>


}