@using EPiServer.Web.Mvc.Html
@model EpiserverOEC.Models.Pages.SignupPage

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.PropertyFor(m => m.MainContentArea)
</div>

