@model EpiserverOEC.Models.Pages.SignupPage

@using (Html.BeginForm("Submit", "SignupPage", FormMethod.Post))
{
    <div class="body-content">
        @Html.PropertyFor(p => p.MainContentArea)
    </div>
}