@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Merriweather+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="https://www.connection.se/"><img src="~/Models/Media/connection3.png" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right" style="padding-top:10px">
                <h5>

                    @{
                        var children = DataFactory.Instance.GetDescendents(ContentReference.RootPage);

                        List<PageData> rndPages = new List<PageData>();

                        foreach (var child in children)
                        {
                            var pageRef = new PageReference(child.ID);
                            var contentRepository = ServiceLocator.Current.GetInstance<IContentRepository>();
                            var page = contentRepository.Get<PageData>(pageRef);

                            if (page.PageTypeName == "StartPage" || page.PageTypeName == "SignupPage" && !page.IsDeleted)
                            {
                                rndPages.Add(page);
                            }
                        }

                        var pages = rndPages
                            .Where(p => p.VisibleInMenu)
                            .OrderBy(p => p.StartPublish);

                        foreach (var page in pages)
                        {
                            <a href="/en/@page.URLSegment.ToString()" class="topLink" style="color:white; padding:23px 10px">
                                @page.Name
                            </a>
                        }
                    }

                </h5>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <footer>
        @{
            Html.RenderPartial("Footer");
        }
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('.navbar').mouseenter(function () {
                $('.navbar').css('background-color', 'rgba(0,0,0,1)');
            });
            $('.navbar').mouseleave(function () {
                $('.navbar').css('background-color', 'rgba(0,0,0,0.7)');
            });

            $('.topLink').mouseenter(function () {
                $(this).css('background-color', 'firebrick');
            });
            $('.topLink').mouseleave(function () {
                $('.topLink').css('background-color', 'rgba(0,0,0,0)');
            });

            $(window).scroll(function () {

                var height = $(window).scrollTop();

                if (height > 60) {
                    $('.navbar-fixed-top').fadeOut('slow');
                }
                else {
                    $('.navbar-fixed-top').fadeIn('slow');
                }
            });
        });

    </script>

</body>
</html>