@model EpiserverOEC.Models.Blocks.AdminBlock


<div class="container" style="padding:200px 0 100px 0">
    <div style="margin-bottom:5px">
        <label style="width:70px; margin-bottom:5px">Login</label>
        @Html.TextBoxFor(m => m.Login, new { @style = "height:30px; width:243px" })
    </div>
    <div style="margin-bottom:5px">
        <label style="width:70px">Lösenord</label>
        @Html.PasswordFor(m => m.Password, new { @style = "height:30px; width:243px" })
    </div>
    <input type="submit" value="Logga in" class="btn" style="margin-left:217px; background-color:firebrick; color:white; border-radius:0" />
</div>