@model EpiserverOEC.Models.Blocks.AuctionPod


<div class="item col-md-4 col-sm-6 col-xs-12 text-center" style="min-height:200px">

    @if (Model.Heading != null)
    {
        <h1>
            @Html.PropertyFor(x => x.Heading)
        </h1>
    }

    @if (Model.Image != null)
    {
        <div>
            <img src="@Url.ContentUrl(Model.Image)" />
        </div>
    }

    @if (Model.BodyText != null)
    {
        <p>
            @Html.PropertyFor(x => x.BodyText)
        </p>
    }

    <p>Utropspris: 100 kr</p>

</div>
