@model EpiserverOEC.Models.Blocks.BidForm

<div style="background-color:white; border: 1px solid black; padding:10px 15px; width: 360px">
    <h4>
        <label style="width:75px">Namn: </label>
        @Html.TextBoxFor(m => m.NewBidder, new { @style = "height:30px; width:243px" })
    </h4>
    <h4>
        <label style="width:75px">Bud: </label>
        @*@Html.TextBoxFor(m => m.BidAmount, new { type = "number", min = @lowestBid, max = @maxBid, Value = @lowestBid, style = "height:30px; width:102px" })*@
        kr
        <input type="submit" value="LÄGG BUD" class="btn" style="border-radius:0; background-color:orangered; color:white" />
    </h4>
</div>
