@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using OEC_webb.Models;

@model EpiserverOEC.Models.Blocks.BidSquare

@{
    var page = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.Web.Routing.IPageRouteHelper>().Page;

    var idStr = page.PageLink.ToString();
    int id = Convert.ToInt32(idStr);
    BidHistory bidHistory = SQLQuery.GetBidHistory(id);

    var lBid = page.GetPropertyValue<Int32>("StartingBid");

    var lowestBid = 0;

    if (bidHistory.HighestBid < lBid)
    {
        lowestBid = lBid;
    }
    else
    {
        lowestBid = Convert.ToInt32(Math.Ceiling(bidHistory.HighestBid * 1.03));
    }

    var maxBid = lowestBid * 10;
}

<div style="background-color:white; border: 1px solid black; padding:10px 15px; width: 360px">
    <h4>
        <label style="width:75px">Namn: </label>
        @Html.TextBoxFor(m => m.NewBidder, new { @style = "height:30px; width:243px" })
    </h4>
    <h4>
        <label style="width:75px">Bud: </label>
        @Html.TextBoxFor(m => m.BidAmount, new { type = "number", min = lowestBid, max = maxBid, Value = lowestBid, style = "height:30px; width:102px" })
        kr
        <input type="submit" value="LÄGG BUD" class="btn" style="border-radius:0; background-color:orangered; color:white" />
    </h4>
</div>
