@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;

@model EpiserverOEC.Models.Blocks.BreadCrumb

@{
    var page = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.Web.Routing.IPageRouteHelper>().Page;
}

<div style="height:60px; background-color:black; padding:15px 0 0 20%">
    <h5>
        <a href="~/en/Hem" style="color:white">Hem</a>
        <span style="color:lightgray">> @page.Name</span>
    </h5>
</div>

<div style="height:1px; background-color:darkgray"></div>
