<div class="container">
    <div class="col-md-4 col-xs-12 text-center icons">
        <a href="https://www.facebook.com/swedconn/" target="_blank">
            <img src="~/Models/Media/fb-art.png" height="40" width="40" />
        </a>
        <a href="https://www.linkedin.com/company/swedish-connection-ab" target="_blank">
            <img src="~/Models/Media/linkedin-512.png" height="40" width="40" />
        </a>
        <a href="https://play.spotify.com/user/sby73/playlist/4ikdS3LuGBPK7L9LgfDb1v?play=true&utm_source=open.spotify.com&utm_medium=open" target="_blank">
            <img src="~/Models/Media/spotify.png" height="40" width="40" />
        </a>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <h3>Swedish Connection</h3>
        <div class="addresses">
            <p><em>Storgatan 16 · 852 30 Sundsvall</em></p>
            <p><em><strong>Org.nr:</strong> 556648-5677</em></p>
            <a href="mailto:sales@connection.se" class="addresses"><em>sales@connection.se</em></a>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <h3>Växel</h3>
        <p class="addresses"><em>+46 (0)60 14 95 70</em></p>
    </div>
</div>
