@model EpiserverOEC.Models.Blocks.PageHead

<div class="text-center" style="margin-top:150px">
    <h1>
        @Html.PropertyFor(x => x.Heading)
    </h1>
    <p>
        @Html.PropertyFor(x => x.BodyText)
    </p>
</div>
