@model EpiserverOEC.Models.Blocks.PageHead

<div class="text-center pageHead">
    <h2>
        @Html.PropertyFor(x => x.Heading)
    </h2>
    <p>
        @Html.PropertyFor(x => x.BodyText)
    </p>
</div>
