@model EpiserverOEC.Models.Blocks.PageHeadSmall

<div class="text-center" style="margin:50px 0 30px 0">
    <h1>
        @Html.PropertyFor(x => x.Heading)
    </h1>
    <div>
        @Html.PropertyFor(x => x.BodyText)
    </div>
</div>
