@model EpiserverOEC.Models.Blocks.SignupLink

<div class="text-center" style="background-color:rgba(225,225,225,1); padding: 60px 0">
    <h1>
        ANMÄL DIG TILL EVENTET
    </h1>
    <p>
        Anmäl dig/er till eventet i förväg så att vi vet hur många som kommer.
    </p>
    <form action="~/en/signup/">
        <input type="submit" value="Till anmälan" class="btn coolBtn" />
    </form>
</div>
