@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content" style="margin-top:60px; padding:100px 0 50px 0">
    <div class="container text-center" style="background-color:lightseagreen; border: 2px solid green; border-radius:5px">
        <h6>
            Tack för din anmälan. Ett bekräftelsemejl har skickats till den angivna adressen.
        </h6>
    </div>
</div>